@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}
*{
  box-sizing: border-box;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
table, th, td {
  border-collapse: collapse;
  width: 100%
}
input, select{
	border: 1px solid #A3CC3933;
	width: 100%;
	height: 40px;
	padding: 5px;
  border-radius: 5px;
}
input[type=checkbox], input[type=radio]{
  width: auto;
  height: auto;
}
.inputs {
	width: 100%;
	display: flex;
  flex-wrap: wrap;
}
.input_box.error .inputs:after{
  content: ' ';
  width: 21px;
  height: 21px;
  background: url(../images/error.png) no-repeat;
  background-size: 100%;
  z-index: 2;
  position: absolute;
  right: 11px;
  top: 9px;
}
.input_box {
	width: 100%;
	padding: 0 5px 13px 5px;
}
.input_box.error input{
  border: 1px solid #FF7C7C;
  padding-right: 40px;
}
button, a.back, a.next, a.save, .dpinfo_popupbtn {
	background-color: #4CA247;
	height: 40px;
	border: none;
	border-radius: 5px;
	color: #fff;
	/* width: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 15px;
}
button:hover, a.back:hover{
  background-color: #6FBD6A;
}
p{
  margin: 0;
}
.wrapper {
	width: 100%;
	background-color: #F4F6FC;
}
.log_pages .wrapper {
	height: 100vh;
}
header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logged .conditional_wrap header {
	position: absolute;
	z-index: 99;
	width: 100%;
  padding: 0 15px;
}
.logged header {
	position: fixed;
	z-index: 99;
	width: 100%;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
.log_pages header {
	background: transparent;
}
.log_pages header .container {
	justify-content: center;
}
.container{
  width: 100%;
  max-width: 1110px;
}
.close{
  background-color: #92CC8F;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
img{
  width: 100%;
}
.close img{
  max-width: 10px;
}
.inputs .error_msg {
	color: #FF7C7C !important;
	font-size: 10px;
	width: 100%;
  display: none;
}
.error .inputs .error_msg{
  display: block;
}
.tab_content a {
	color: #4ca247;
}
.tab_content a.forgot {
	padding: 0 5px 15px 5px;
	width: 100%;
	display: block;
}
.login p {
  color: #8C98A9;
}
.login p a{
  color: #2E5BFF;
}
.buttonbox button {
	font-size: 15px;
}
.half{
  width: 50%;
}
.onethird{
  width: 33.33%;
}
.buttonbox {
	padding: 0 5px;
}
/* ********************** */
header .container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.sign_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  padding:  0 15px;
}
.sign_container .container {
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: #fff;
  position: relative;
  min-height: 650px;
}
.sign_container .right, .sign_container .left{
	width: 50%;
  padding: 20px;
}
.sign_container .left{
  padding: 0 45px;
}
.sign_container img {
	width: 100%;
}
.sign_up, .recovery {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sign_container h1 {
	font-size: 28px;
	font-weight: normal;
	width: 100%;
	margin: 0;
	max-width: 277px;
  padding-bottom: 10px;
}
.signup_tab {
	width: 100%;
	max-width: 320px;
}
.signup_tab p {
	text-align: center;
	padding: 10px 5px 0 5px;
}
.tab_head {
	width: 100%;
  padding-bottom: 10px;
}
.tab_head ul{
  display: flex;
  flex-wrap: wrap;
}
.tab_head li{
  width: 50%;
}
.tab_head li a {
	color: #7B7B7B;
	border-bottom: 2px solid #efefef;
	font-size: 14px;
	padding: 5px 0;
	width: 100%;
	display: block;
}
.tab_head li.active a{
  color: #000;
  border-bottom: 2px solid #4CA247;
}
.pr_info {
	padding-right: 5px;
}
.ac_details {
	padding-left: 5px;
}
.input_box label {
	color: #8C98A9;
	font-size: 12px;
	padding-bottom: 5px;
  display: flex;
}
.field{
  padding: 0 5px;
  width: 33.33%;
}
.date .label{
  padding:0 5px;
}
.account_details, .personal_info{
  display: none;
}
.account_details.active, .personal_info.active{
  display: block;
}
.personal_info p, .account_details p {
	color: #8C98A9;
	width: 100%;
	text-align: center;
  padding-top: 5px;
}
.personal_info p a {
	color: #4ca247;
}
.input_box .inputs{
  position: relative;
}
.input_box.new_pwd .inputs:before, .input_box.confirm_pwd .inputs:before, .new_pwd .input_box .inputs:before {
  content: ' ';
	background: url(../images/eye.png) no-repeat;
  width: 16px;
  height: 14px;
  position: absolute;
  right: 11px;
  top: 14px;
  cursor: pointer;
  z-index: 1;
}
.input_box.new_pwd .inputs input, .input_box.confirm_pwd .inputs input{
  padding-right: 35px;
}
span.select2.select2-container {
    width: 100% !important;
}
.prdetail_info .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 37px;
}
/* Home */
.home .container{
	width:1110px;
}
.background-banner{
	background-image: url(../images/bkg_one.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
  padding: 0 15px;
}
.background-banner .form-container {
    position: static;
    width: 100%;
    top: 410px;
    left: 50%;
    background-color: #fff;
    padding: 60px 30px;
    max-width: 1110px;
    border-radius: 10px;
}
.conditional_wrap .background-banner .container {
    padding-top: 115px;
}
.box-right {
    width: 50%;
    float: left;
}
.box-left {
    width: 50%;
    float: left;
}
.home .logo {
	max-width: 98px;
}
.home .container {
	width: 1110px;
	justify-content: flex-start;
}
.home header {
	position: absolute;
	z-index: 1;
}
.background-banner h2 {
	font-size: 60px;
	font-weight: bold;
	line-height: 70px;
	margin: 0;
}
.background-banner p {
	font-size: 18px;
}
.plan-overview .cost p, .plan-overview .cost b {
	display: flex;
}
/* .form-container.prdetail_info form{
  justify-content: center;
}
.form-container form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
} */
.dep_info {
	border: 0;
	margin-bottom: 15px;
	border-radius: 10px;
	padding: 0;
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  min-height: 450px;
  overflow-y: scroll;
}
.dep_info .form_fields {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.dep_listing ul li .action .edit {
    margin-right: 10px;
}
.button_box {
	display: flex;
	justify-content: space-between;
  padding-top: 20px;
}
.form-container.prdetail_info.open.tier_list {
	padding: 40px;
  border-radius: 10px;
  bottom: unset;
  top: 200px;
}
.form-container .input_box, .form-container .buttonbox {
	width: 25%;
	padding: 0 10px;
}
.form-container.bsc_info .input_box{
  width: calc(33.33% - 30px);
}
.form-container .buttonbox {
	padding-top: 24px;
}
.bsc_info, .prdetail_info{
  display: none;
}
.bsc_info.open, .prdetail_info.open{
  display: block;
}
.form-container.prdetail_info .input_box{
	width: 33.33%;
}
.form-container h3 {
	color: #4CA247;
	font-size: 30px;
	margin: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
}
.form-container.prdetail_info .input_box {
	padding-bottom: 25px;
}
.form-container.prdetail_info .buttonbox {
	display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.form-container.prdetail_info .input_box.copy_address {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.form-container.prdetail_info .input_box.copy_address label{
  padding: 0 0 0 5px;
}
/* .form-container.prdetail_info .buttonbox .next{
  margin-left: 10px;
  width: calc(50% - 10px);
} */
/* .form-container.prdetail_info .buttonbox .back{
  margin-right: 10px;
  width: calc(50% - 10px);
} */
.form-container.prdetail_info.open {
	padding: 40px 30px;
}
.prdetail_info form, .bsc_info form {
	display: flex;
	flex-wrap: wrap;
}
/* Home Ends*/
/* Plans */
.plan-overview .wrapper {
	height: auto;
}
header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
header .container{
  justify-content: space-between;
  padding: 20px 0;
}
.content_section{
    padding-bottom:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}
.content_section:before {
	content: ' ';
	height: 90px;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
}
.content_section.review.dashboard {
	height: 100vh;
	align-items: center;
	justify-content: flex-start;
  padding-top: 100px;
}
.content_section.review.dashboard:before{
  display: none;
}
.content_section.review.dashboard h1 {
	margin: 0;
	padding: 10px 0 20px 0;
}
.message {
	width: 100%;
	padding: 10px;
	display: block;
	text-align: center;
}
.message a {
	color: #66a12e;
}
.customer-details {
    background-color: #fff;
    border: 1px solid #4CA247;
    padding: 32px 28px;
    position: relative;
}
.customer-details  ul {
    display: flex;
}
.customer-details  ul li{
 list-style-type: none;
 width: 100%;
}
.customer-details p{
font-weight: 400;
margin-top: 15px;
font-size: 16px;
}
.customer-details label {
    font-size: 13px;
}
.plan-overview .overview-list ul li {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	/* justify-content: center; */
}
.swal-footer {
	display: flex;
	justify-content: center;
}
body.plan-overview h1{
    color: #4CA247;
}
.topic-name {
    padding: 40px 0;
}
.overview-list {
    background-color: #A3CC3933;
    padding: 20px;
    margin-bottom: 15px;
}
.overview-list ul {
    display: flex;
}
.overview-list ul li {
    width: 100%;
    padding-left: 5px;
}
.overview-list .price {
    text-align: right;
}
.plan-overview ul li span {
    color: #4CA247;
    font-size: 14px;
}
.plan-overview .plan {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.customer-details ul li a.edit, .dep_listing ul li .action .edit, .dep_listing ul li .action .delete, .review a.edit {
	width: 30px;
	height: 30px;
	background-color: #4CA247;
	display: block;
	border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  min-width: unset;
  padding: 0;
}
.customer-details ul li a.edit .icon, .dep_listing ul li .action .edit .icon, .dep_listing ul li .action .delete .icon, .review a.edit .icon {
	width: 35%;
	height: 35%;
	background: url('../images/edit.svg') no-repeat;
  display: block;
  background-size: 100%;
}
.dep_listing ul li .action .delete{
  background-color: #fd7373;
  padding: 0;
}
.dep_listing ul li .action .delete .icon{
  background: url('../images/delete.svg') no-repeat;
  background-size: 100%;
}
.customer-details ul li.edit_btn{
	width: 45px;
  display: flex;
  align-items: center;
}
.plan-overview a.expand_icon{
  width: 20px;
  height: 20px;
  background: url('../images/plus.svg') no-repeat;
  display: block;
  background-size: 100%;
  margin-top: 0;
  min-width: unset;
  padding: 0;
  cursor: pointer;
}
.plan-overview a.expand_icon.active{
  background: url('../images/minus.svg') no-repeat;
  background-size: 100%;
}
.plan-overview .overview-list ul li:last-child{
  width: 45px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.plan-overview .overview-list ul li:first-child{
  width: 45px;
  padding-right: 15px;
}
.plan-overview .overview-list ul li:first-child .checkbox{
  display: flex;
  align-items: flex-start;
}
.plan-overview .overview-list ul li:first-child .checkbox input{
  height: auto;
}
.overview-list .plan a {
	color: #4CA247;
	padding: 7px 30px;
	border: 1px solid #4CA247;
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 12px;
	background: transparent;
	width: auto;
	max-width: unset;
	margin-top: 0;
}
.price-details, .questionnaire {
    padding: 0 55px 20px 55px;
}
.price-details{
  display: none;
}
.price-details.active{
  display: block;
}
.plan-overview ul {
    display: flex;
}
.plan-overview ul li {
    width: 100%;
    padding-left: 5px;
}
.plan-overview .warning-message {
    background-color: #FF7C7C1A;
    border: 1px solid #FF7C7C;
    padding: 12px 17px;
    max-width: 450px;
    display: flex;
}
.plan-overview .warning-img {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.plan-overview .warning-message p {
    font-size: 14px;
}
.plan-overview table tr th, td {
  padding: 5px;
  text-align: left;
  color: #2E384D;
  font-size: 14px;
  border-collapse: collapse;
}
.plan-overview .price-details table tr th, .price-details td {
  width: calc(100% - 100px);
}
.plan-overview .price-details .cost {
    text-align: right;
    width: 100px;
    position: relative;
    vertical-align: top;
}
.increment {
	position: absolute;
	right: -19px;
	top: 5px;
}
.plan-overview .cost p, .plan-overview .cost b {
	display: flex;
  justify-content: flex-end;
}
.plan-overview table {
    margin-top: 25px;
    position: relative;
}
.plan-overview table::before {
    position: absolute;
    width: 108%;
    content: '';
    height: 1px;
    background-color: #4CA247;
    left: 0;
    top: -12px;
}
.plan-overview .total-cost {
    background-color: #A3CC3933;
    padding: 15px 0;
}
.plan-overview .semi-cost {
    background-color: #A3CC3933;
    border: 1px solid #4CA247;
    margin: 0 55px;
}
.plan-overview .semi-cost ul {
    display: flex;
    padding: 16px 24px 16px 24px;
}
.plan-overview .semi-cost ul li {
    width: 100%;
}
.plan-overview .text-right{
    text-align: right;
}
.plan-overview .semi-cost table::before {
    position: absolute;
    width: 100%;
    content: '';
    height: 1px;
    background-color: #4CA247;
    left: 0;
    top: 0px;
}
.plan-overview .plan-overview table.semicost-list{
    padding: 16px 46px 20px 24px;
    display: block;
}
.box-shadow {
    background-color: #ffffff;
    padding-bottom: 100px;
    -webkit-box-shadow: 17px 7px 56px -48px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 17px 7px 56px -48px rgba(0, 0, 0, 0.46);
    box-shadow: 17px 7px 56px -48px rgba(0, 0, 0, 0.46);
}

.plan-overview .semi-cost table {
    margin-top: 0px;
    padding: 16px 46px 20px 24px;
    display: block;
}
.plan-overview .next {
    padding: 0 55px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.plan-overview a {
    color: #fff;
    background-color: #4CA247;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-right: 5px;
    border-radius: 5px;
    min-width: 100px;
    padding: 0 15px;
    height: 40px;
}
.plan-overview .button_box {
	padding: 0 55px;
	display: flex;
	justify-content: space-between;
}
.plan-overview .semi-total {
    padding: 16px 46px 20px 24px;
    display: block;
    background-color: #4CA24733;
}
.plan-overview .semi-total .total-cost {
    background-color: transparent;
}
.plan-overview .card-details {
    font-size: 14px;
}
.head-semi-cost{
    padding: 40px 55px;
    text-align: right;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #FF7C7C;
    padding-right: calc(1.6em + 0.75rem);
    background: url(../images/error.png) no-repeat;
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.1875rem) center;
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}
.invalid-feedback strong{
    color :#FF7C7C;
    font-weight: normal;
}
.parsley-required{
    color:red !important;
}

.parsley-type{
    color:red !important;
}
.parsley-equalto {
    color:red !important;
}
.parsley-minlength {
    color:red !important;
}

.parsley-checkgroupcode {
    color:red !important;
}
/* Plans Ends */
/* Plans Ends */
/*Recovery Account*/
.recovery .buttonbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.recovery .buttonbox button{
  width: calc(50% - 5px);
}
.recovery .buttonbox button.cancel {
  border: 1px solid #4CA247;
  background-color: #fff;
  color: #4CA247;
}
.tab_content p.recovery_msg{
  text-align: left;
  padding: 0 0 20px 0;
}
.recovery {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footer-copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #4ca247;
  color: #fff;
}
.pf_container {
  border: 1px solid #efefef;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.pf_pic{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}
.pf_pic img{
  width: 100%;
}
.pf_name {
  padding-left: 15px;
}
.recovery .buttonbox button.resetbtn, .recovery.new_pwd .buttonbox button {
  width: 100%;
  /* padding-right: 0; */
  /* padding-left: 0; */
}
.reset.recovery .buttonbox, .recovery.otp .buttonbox{
  flex-direction: column;
}
.reset.recovery .buttonbox a, .recovery.otp .buttonbox a{
  text-align: center;
  padding-top: 10px;
  color: #8C98A9;
}
.otp .inputs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.otp_space {
  padding: 0 2px;
}
.quater{
  width: 25%;
}
.pf_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.log{
  padding-left: 10px;
}
.mini_prof {
  width: 250px;
  position: absolute;
  box-shadow: 0px 2px 5px #888;
  right: 0;
  top: 47px;
  display: none;
}
.mini_prof:before {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #4ca247;
  position: absolute;
  top: -10px;
  right: 15px;

}
.mini_prof.active{
  display: block;
}
.ab_customer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4ca247;
  padding: 20px;
}
.mini_prof .pf_pic {
  width: 100px;
  height: 100px;
}
.cr_links {
  padding: 20px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  width: 100%;
}
.cr_links a {
  padding: 10px;
  border: 1px solid #dfd9d9;
  border-radius: 5px;
  min-width: 82px;
  display: flex;
  justify-content: center;
}
.mini_prof .pf_name {
  color: #fff;
  font-size: 18px;
}
.registered_date {
  color: #fff;
}
.logout {
  position: relative;
  padding-right: 20px;
  cursor: pointer;
}
.logout:before{
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #4ca247;
  position: absolute;
  top: 13px;
  right: 6px;
  }
/* Health Qusetions */
.question p {
	width: calc(100% - 120px);
	font-weight: 600;
	font-size: 14px;
	color: #555555;
}
.answer-button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 120px;
}
.ans_list {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
}
.questionnaire ul li {
    list-style-type: upper-alpha;
    width: 100%;
    font-size: 14px;
    color: #555555;
    padding-bottom: 15px;
}
.answer-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.question {
	display: flex;
}
.question label{
  font-weight: 600;
  font-size: 14px;
  color: #555555;
  padding: 0 10px 0 5px;
}
.question
.Yes {
    margin-right: 15px;
}
.detail-table tr td label{
  padding-bottom: 5px;
}
.detail-table tr td label {
	padding-bottom: 5px;
	width: 100%;
	display: none;
	text-align: left;
}
.container.detail-table {
   padding: 10px 55px 0 55px;
   width: 100%;
   display: flex;
   margin-bottom: 60px;
}
.container.additinal-notes {
	 padding-top: 10px;
}
.lite_blue{
  background-color: #4CA2471A;
}
.red{
  color: red;
  padding-left: 5px;
}
.container.detail-table table, .container.detail-table th, .container.detail-table td {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #4CA247;
}
.container.detail-table table tr th, .container.detail-table table td {
    padding: 15px;
    text-align: center;
    color: #2E384D;
    font-size: 14px;
    border-collapse: collapse;
    width: 33%;
}
.container.detail-table th{
    color: #000000 !important;
    background-color: #d4e9d3;
}
.additinal-notes .message label {
    display: block;
    color: #909090;
    font-size: 16px;
    margin-bottom: 10px;
}
.additinal-notes .message textarea.input-form {
    width: 100%;
    height: 92px;
    border: 1px solid #4CA247;
}
.container.next-save .button {
    display: flex;
    justify-content: space-between;
    padding: 0 55px;
}
.questionnaire.price-details {
	  padding: 20px 55px 20px 80px;
}
.information .personal {
    width: 100%;
}
.information .address {
    width: 100%;
}
.information-details {
    display: flex;
}
.information-details .personal {
    padding-right: 15px;
    display: flex;
}
.information-details .address {
    padding-left: 15px;
}
.info-title {
    display: flex;
    align-items: center;
    background-color: #edf5d7;
    padding: 23px 40px;
}
.info-title h4 {
    width: 100%;
}
.review .field-area {
    padding: 56px 40px 10px 40px;
    background-color: #fff;
    -webkit-box-shadow: 17px 7px 68px -24px rgba(0,0,0,0.14);
    -moz-box-shadow: 17px 7px 68px -24px rgba(0,0,0,0.14);
    box-shadow: 17px 7px 68px -24px rgba(0,0,0,0.14);
}
label {
    color: #8C98A9;
    font-size: 16px;
}
 .review .field-section {
    padding-bottom: 31px;
}
.review .field-section ul {
    display: flex;
    width: 100%;
}
.review .field-section p {
    margin-top: 5px;
    font-weight: 600;
}
.review .bf_info .field-section {
	padding-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dep_info_address, .beneficary_wrap {
	padding: 0 10px;
  width: 50%;
}
.pr_content.bf_info {
	padding: 15px 5px 0 5px;
}
#add-more {
	width: 30px;
	height: 30px;
	background-color: #6eaa26;
	display: flex;
	border-radius: 50%;
	color: #fff;
	justify-content: center;
	align-items: center;
	font-size: 19px;
	font-weight: normal;
}
#remove {
	width: 30px;
	height: 30px;
	background-color: #f45d5d;
	display: flex;
	border-radius: 50%;
	color: #fff;
	justify-content: center;
	align-items: center;
	font-size: 19px;
	font-weight: normal;
}
.plan-information{
    margin-top: 21px;
}
.review .price-details {
    padding: 50px 55px;
    background-color: #fff;
}
.review .address-info .field-section ul li {
	width: 100%;
}
.review .address-info .field-section p {
	width: 100%;
}
.review .address-info .field-section .bf_address {
	width: 100%;
}
.review .bf_info .field-section ul {
	flex-wrap: wrap;
	padding: 10px;
	background-color: #f4f9e8;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #d3dfb1;
}
.detail-table {
   width: 100%;
    display: flex;
    margin-bottom: 60px;
}
.additinal-notes .message textarea.input-form {
    width: 100%;
    height: 92px;
    border: 1px solid #4CA247;
    border-radius: 4px;
}
.emergency-contact {
    margin-top: 20px;
}
.form-container .dep_info h2 {
  	font-size: 18px;
  	padding-bottom: 20px;
  	line-height: normal;
  	font-weight: normal;
}
.btn_container {
  	display: flex;
  	justify-content: flex-end;
}
.tier_scroller {
  	max-height: 350px;
  	overflow-y: scroll;
}
/* .dep_info {
	border: 1px solid #efefef;
	margin-bottom: 15px;
	border-radius: 10px;
	padding: 20px;
  position: relative;
} */
.tier_list h3 {
	position: relative;
	text-align: left;
}
.tier_list h3 button {
	font-weight: normal;
	font-size: 16px;
	border: 1px solid #4ca247;
	color: #51a247;
	border-radius: 5px;
	background-color: #efefef;
	padding: 5px 10px;
	position: absolute;
	right: 0;
  width: auto;
  padding-left: 30px;
  top: 4px;
}
.tier_list h3 button:hover{
  background-color: #51a247;
  color: #fff;
}
.tier_list h3 button:before{
  content: '+';
  position: absolute;
  left: 10px;
  top: 6px;
  font-size: 20px;
  font-weight: normal;
}
.dep_info a.close{
  color: #51a247;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #efefef;
  border: 1px solid #51a247;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.dep_info a.close:hover{
  background-color: #51a247;
  color: #fff;
}
.tier_list .btn_container {
	width: 100%;
}
.tier_list .btn_container .buttonbox {
	justify-content: space-between;
	width: 100% !important;
}
.tier_list .btn_container .buttonbox button, .tier_list .btn_container .buttonbox a.back, .question-save, a.next, a.save{
  min-width: 100px;
}
.input_box .select2-container--default .select2-selection--single {
	border: 1px solid #A3CC3933;
	height: 40px;
}
.input_box .select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 8px;
}
.input_box  b  b.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 36px;
}
.modal-content .form-group#editNotifyForm {
	padding: 0;
	margin: 0;
}
/* .modal-content .modal-footer {
	display: none;
} */
.modal-content .modal-body {
	padding: 0;
}
.modal-content .modal-header {
	padding: 0;
	border: none;
}
.modal-content .modal-title {
	padding-bottom: 20px;
	color: #4ca247;
}
.add_dp_popup .button_box {
	padding-top: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.add_dp_popup .button_box button{
  max-width: 150px;
}
.dashboard .message_box {
	width: 100%;
	max-width: 1110px;
	padding-bottom: 15px;
}
.dashboard .message_box .message {
	padding: 15px;
	background-color: #4CA247;
	width: 100%;
	display: flex;
	border-radius: 5px;
	color: #fff;
  justify-content: center;
}
.dashboard .message_box .message a {
	color: #ffd803;
	padding-left: 10px;
}
.dashboard .information-details .personal{
  padding-right: 0;
}
.dashboard .info-title {
  padding: 15px;
}
.dashboard .info-title h4{
  margin: 0;
}
.dashboard.review .field-section{
  padding: 0 5px 15px 5px;
}
header .container:before, header .container:after {
	display: none;
}
/* Review */
.review_info_box{

}
.pr_list{

}
.review .information-details .address {
	display: flex;
	width: 100%;
}
.address-info {
	width: 100%;
  box-shadow: -8px 7px 20px -12px rgba(0,0,0,0.14);
  background-color: #fff;
}
.review .personal .personal-info {
  box-shadow: 8px 2px 20px -12px rgba(0,0,0,0.14);
  background-color: #fff;
  width: 100%;
}
.pr_content {
	padding: 15px;
}
.review label {
	font-size: 12px;
}
.review .field-section ul li {
	width: 33.33%;
	padding: 5px;
}
.review .info-title {
	padding: 15px;
}
.review .info-title h4 {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	font-weight: 600;
}
.review .bf_info .field-section ul{
  flex-wrap: wrap;
}
.review .bf_info .field-section ul li {
	width: 25%;
}
.review .bf_info .field-section ul li.bf_address {
	width: 100%;
}
.review .button_box.next-save {
	display: flex;
	justify-content: space-between;
	padding: 30px 15px 0 15px;
}
.bfinfo_address {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.bfinfo_address p{
  padding-right: 30px;
}
.review .price-details.review_disp{
  display: block;
  padding: 15px 55px;
}
.topic-name h1 {
	margin: 10px 0 30px 0;
}
.topic-name {
	padding: 0;
}
.review .overview-list {
	margin-bottom: 0;
}
.content_section.plan-overview.quest_wrap:before {
	display: none;
}
.content_section.plan-overview.quest_wrap{
 padding-top: 15px;
}
.personal-info .field-section:last-child {
	padding-bottom: 0;
}
/* Review */
/* Depentend List */
.dep_listing {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.dep_listing ul {
	display: flex;
	flex-direction: column;
	width: 100%;
  margin-bottom: 0;
}
.dep_listing ul li {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #d7fbd5;
	border-radius: 5px;
	margin-bottom: 15px;
	border: 1px solid #9fd59c;
}
.dep_listing ul li:last-child{
  margin-bottom: 0;
}
.dep_listing ul li .list_column {
	width: calc(33.33% - 30px);
	padding: 5px;
}
.dep_listing ul li .action form {
	margin: 0;
  padding-left: 10px;
}
.dep_listing ul li .action .content{
  display: flex;
  flex-direction: row;
}
.dep_listing label {
	font-weight: normal;
	font-size: 14px;
	color: #4ca247;
}
.dep_listing ul li .list_column.action {
	display: flex;
	align-items: center;
	max-width: 90px;
}
.add_dp_popup .input_box {
	padding-bottom: 20px;
}
.form-container.bsc_info .buttonbox {
  width: 90px;
}
/* Popups */
.popup_wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;hh
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
  padding: 15px;
}
.popup_wrapper.active{
  display: flex;
}
.popup_container {
	border-radius: 10px;
	background-color: #fff;
	padding: 20px 10px;
	position: relative;
	width: 100%;
	max-width: 600px;
}
.popup_content h2 {
	margin: 0;
	padding: 0 10px 5px 10px;
	font-size: 24px;
	font-weight: normal;
}
.popup_container .close{
  font-size: 18px;
  cursor: pointer;
}
.popup_content .form_fields form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.popup_content .form_fields form .input_box {
	/* width: 50%; */
	padding: 0 10px 10px 10px;
}
.popup_content .buttonbox {
	width: 100%;
	padding: 10px 10px 0;
  display: flex;
  justify-content: center;
}
.popup_content p {
	padding: 10px;
}
.popup_content .buttonbox button{
  max-width: 100px;
}
.add_dp_popup .input_box label {
	color: #000;
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 0;
}
.modal-open .modal {
	padding-left: 0 !important;
}
/* Popups */
/* Popups two*/
.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	/* overflow: hidden; */
}
.modal-dialog {
	width: 100% !important;
  height: 100%;
  position: fixed;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 15px;
}
.modal-content {
	width: 100%;
	max-width: 800px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
  position: relative;
}
.conditional_wrap .modal-content {
	max-width: 1000px;
}
.modal-content .form-group {
	display: flex;
	flex-wrap: wrap;
  padding-bottom: 10px;
}
.modal-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.modal-footer button{
  max-width: 100px;
}
/* Popups two*/
/* Plan View */
.plan_view {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  padding-top: 110px;
}
.plan_banner {
	width: 100%;
	display: flex;
}
.breadcrumbs {
	width: 100%;
	display: flex;
	padding: 15px 0;
}
.breadcrumbs ul {
	width: 100%;
	display: flex;
}
.breadcrumbs ul li {
	padding: 0 15px;
  position: relative;
}
.breadcrumbs ul li:first-child {
	padding-left: 0;
}
.breadcrumbs ul li:last-child:before {
display: none;
}
.breadcrumbs ul li:before {
	content: '>';
	display: block;
	position: absolute;
	right: 0;
}
.plan_desc h1 {
	width: 100%;
	margin: 0;
	padding-bottom: 15px;
}
.plan_desc {
	width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-bottom: 50px;
}
.blocks {
	width: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}
.blocks p{
  padding-bottom: 15px;
  margin: 0;
}
.plan_desc h2, .plan_desc h3{
  margin: 0;
  padding-bottom: 15px;
}
.blocks ul, .blocks li{
  padding-bottom: 15px;
}
.blocks ul{
  padding-left: 30px;
}
.blocks li{
  list-style: lower-alpha;
}
.ui-accordion-content {
	height: auto !important;
}
.video {
	display: flex;
	justify-content: center;
	align-items: center;
}
.vid_wrap {
	background-color: #BFECBC;
}
.ui-accordion h3 {
	background-color: #4CA247;
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  font-weight: normal;
}
.ui-accordion h3:hover{
  background-color: #73C16E;
}
.ui-accordion h3:after{
  content: ' ';
  display: block;
  position: absolute;
  border-top: 6px solid #2A7326;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  top: calc(50% - 3px);
  right: 20px;
  cursor: pointer;
}
.ui-accordion h3.ui-state-active:after{
  content: ' ';
  display: block;
  position: absolute;
  border-top: 0;
  border-bottom: 6px solid #2A7326;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  top: calc(50% - 3px);
  right: 20px;
  cursor: pointer;
}
/* Plan View */
/* Agreement */
.agreement .container.box-shadow {
	padding: 20px 20px 100px 20px;
}
.information-details h3 {
	margin: 0;
	padding-bottom: 15px;
}
.agreement .information {
	background-color: #adf0a9;
	padding: 20px;
	border-radius: 8px;
  margin-bottom: 15px;
}
.agreement .signature_block label{
  padding-bottom: 5px;
  width: 100%;
  display: block;
}
.agreement .button_box {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-top: 30px;
}
#signaturePad {
	margin-bottom: 15px;
}
.confirm_check {
	padding-top: 15px;
}
/* Agreement */
.add_dp_popup .input_box.exist_address {
	display: flex;
	justify-content: left;
	align-items: center;
}
.add_dp_popup .input_box.exist_address label{
  padding: 0 0 0 5px;
}
.add_dp_popup .input_box.exist_address input[type="checkbox"]{
  margin-top: 0;
}
.add_dp_popup + .modal-footer {
	padding: 0;
	border: none;
}
.review.dashboard .field-section ul{
  flex-direction: column;
}
.review.dashboard .personal-info .field-section:last-child {
	padding-bottom: 15px;
}
.dashboard .information {
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
	max-width: 800px;
  overflow: hidden;
}
.dashboard .field-section {
	display: flex;
}
.review.dashboard .field-section ul li {
	width: auto;
	padding: 5px;
}
.dash_plan_list {
	padding: 15px;
	width: 100%;
	background-color: #b6ea9a;
	border-radius: 10px;
}
.dashboard_wrap {
	width: 50%;
	padding: 0 10px;
}
.dash_plan_list h2.category {
	margin: 0;
	font-size: 20px;
	font-weight: 600;
  padding-bottom: 10px;
}
.review.dashboard .field-section .dash_plan_list li {
	padding: 0;
}
.review .field-section p {
	margin-top: 0;
	font-weight: 400;
}
.review .field-section p.plan {
	margin-top: 0;
	font-weight: 400;
	font-size: 16px;
  color: #4d794a;
}
.dashboard .icon-img #edit-plan {
	width: 20px;
	height: 20px;
	display: block;
}
#tierInfo, #personalInfo {
	margin-top: 20px;
}
.container.beneficary {
	padding-top: 117px;
}
.thankyou {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 117px 15px 0 15px;
  height: 100vh;
}
.thankyou .img_container {
	max-width: 800px;
  padding-bottom: 20px;
}
.thankyou .container {
	display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.thankyou h1{
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
}
.thankyou p{
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
}
.thankyou .dashboard_link{
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  background-color: #4ca247;
}
.thankyou .dashboard_link:hover{
  background-color: #287924;
}
.semicost-list td.items {
width: 100%;
}
.semi-total td {
	width: 100%;
}
/* Media Query */
@media(max-width:991px){
  .prdetail_info form, .bsc_info form {
  	justify-content: center;
  }
  .form-container .input_box{
  	width: 33.33%;
  	padding: 0 10px 20px 10px;
  }
  .customer-details ul li {
  	width: 33.3%;
    padding-bottom: 10px;
  }
  .customer-details ul {
  	flex-wrap: wrap;
  }
  .customer-details ul li a.edit.dropdown-toggle {
  	position: absolute;
  	right: 15px;
  	top: 15px;
  }
  .customer-details p {
  	margin-top: 5px;
  }
  .customer-details {
  	padding: 32px 28px 17px 28px;
  }
  .plan-overview .overview-list ul{
    flex-wrap: wrap;
  }
  .plan-overview .overview-list ul li{
    width: 50%;
    padding-bottom: 0;
  }
  .plan-overview .overview-list ul li:first-child #plan_check {
  	position: absolute;
  	left: 15px;
  	top: calc(50% - 8px);
  	width: 16px;
  	height: 16px;
    margin: 0;
  }
  .plan-overview .overview-list ul li:first-child {
  	width: auto;
  	padding: 0;
  }
  .plan-overview .overview-list ul li:last-child .expand_icon {
  	position: absolute;
  	right: 15px;
  	top: calc(50% - 10px);
  }
  .overview-list {
  	padding: 20px 40px 20px 20px;
    position: relative;
  }
  .overview-list .price {
  	text-align: left;
  }
  .plan-overview .overview-list ul li:last-child{
    padding: 0;
  }
  .plan-overview .price-details ul {
  	flex-wrap: wrap;
  }
  .plan-overview table:before {
  	width: 100%;
  }
  .plan-overview h1, h1.head_quest {
  	margin: 0;
  }
  .topic-name {
  	padding: 20px 0;
  }
  .container.detail-table {
  	padding: 15px;
    margin-bottom: 0;
  }
}
@media(max-width:767px){
  .sign_container .container {
  	flex-wrap: wrap;
  }
  .sign_container .right, .sign_container .left {
  	width: 100%;
  }
  .sign_container img {
  	width: 100%;
  	max-width: 400px;
  }
  .sign_container .left {
  	padding: 15px 15px 0 15px;
  	display: flex;
  	justify-content: center;
  }
  .form-container.prdetail_info .input_box, .form-container.prdetail_info .buttonbox {
  	width: 100%;
  }
  .form-container .input_box {
    width: 50%;
    padding: 0 10px 20px 10px;
  }
  .form-container .buttonbox {
    width: 50%;
    padding: 25px 10px 20px 10px;
  }
  .customer-details ul li {
  	width: 50%;
  }
  .customer-details {
  	padding: 15px;
  }
  .price-details {
  	padding: 15px 30px 15px 15px;
  }
  .head-semi-cost {
  	padding: 15px;
  	margin: 0;
  }
  .plan-overview .semi-cost {
  	margin: 0 15px;
  }
  .plan-overview .next {
  	padding: 0 15px;
  }
  .form-container.prdetail_info.open.tier_list {
  	padding: 15px;
  }
  .dep_listing ul li {
  	flex-direction: column;
    position: relative;
    padding-right: 50px;
  }
  .dep_listing ul li .list_column {
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  }
  .dep_listing ul li .list_column.action {
  	position: absolute;
  	right: 6px;
  	top: 10px;
    width: auto;
  }
  .dep_listing ul li .action .content {
  	flex-direction: column;
  }
  .dep_listing ul li .action form {
  	padding-left: 0;
  	padding-top: 10px;
  }
  .question {
  	display: flex;
  	flex-direction: column;
  }
  .question p {
  	width: 100%;
  }
  .answer-button {
  	justify-content: flex-start;
  	padding-top: 5px;
  }
  .detail-table tr td label {
  	display: block;
  	font-size: 14px;
  }
  .container.detail-table table, .container.detail-table table tr, .container.detail-table table tr td{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .detail-table table thead{
    display: none;
  }
  .questionnaire {
    padding: 0 15px 20px 25px;
  }
  .additinal-notes .message {
  	margin: 0;
  }
  .container.detail-table {
  	padding: 0;
  }
  .container.next-save .button {
  	padding: 0 15px 0 25px;
  }
  .plan-overview .semi-cost table.semicost-list {
  	padding: 15px;
  }
  .plan-overview .semi-cost {
  	margin: 0;
  }
  .plan-overview .semi-cost ul {
  	padding: 15px;
  }
  .review .price-details.review_disp {
  	padding: 15px;
  }
  .review .price-details.questionnaire.review_disp {
  	padding-left: 30px;
  }
  .prdetail_info form, .bsc_info form {
    flex-direction: column;
  }
  .form-container.bsc_info .input_box {
    width: 100%;
  }
  .add_dp_popup .input_box.onethird {
  	width: 50%;
  }
  .modal .modal-dialog {
  	align-items: start !important;
  }
  .information-details {
	display: flex;
	flex-direction: column;
}
.information-details .pr_list {
	width: 100%;
	padding: 0;
}
.information-details .pr_list.personal {
	margin-bottom: 15px;
}
.review .bf_info .field-section {
	flex-direction: column;
}
.pr_content.bf_info {
	padding: 15px 5px 0 5px;
}
.review .bf_info .field-section ul li {
	width: 50%;
}
}
@media(max-width:549px){
  .dashboard_wrap {
  	width: 100%;
  	padding: 0 10px 15px 10px;
  }
  .dashboard.review .field-section {
  	flex-direction: column;
  }
}
@media(max-width:479px){
  .form-container.prdetail_info .input_box, .form-container.prdetail_info .buttonbox {
  	width: 100%;
  }
  .form-container.prdetail_info.open {
  	padding: 15px;
  }
  .form-container h3 {
  	font-size: 24px;
  }
  .form-container .input_box, .form-container .buttonbox {
  	width: 100%;
  }
  .background-banner .form-container{
    padding: 15px;
  }
  .customer-details ul li {
  	width: 100%;
  }
  .customer-details ul li.edit_btn {
  	padding-bottom: 0;
  }
  .plan-overview .overview-list ul li {
  	width: 100%;
  	padding-bottom: 15px;
  }
  .overview-list {
  	padding: 20px 40px 5px 20px;
  }
  .form-container h3 {
  	display: flex;
  	flex-direction: column;
  	padding-bottom: 15px;
  }
  .form-container h3 span {
  	padding-bottom: 15px;
  }
  .tier_list h3 button {
  	position: relative;
    max-width: 175px;
  }
  .add_dp_popup .input_box.onethird {
  	width: 100%;
  }
  .review .bf_info .field-section ul li {
  	width: 100%;
  }
}
