@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}
*{
  box-sizing: border-box;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
table, th, td {
  border-collapse: collapse;
  width: 100%
}
input, select{
	border: 1px solid #A3CC3933;
	width: 100%;
	height: 40px;
	padding: 5px;
  border-radius: 5px;
}
.inputs {
	width: 100%;
	display: flex;
  flex-wrap: wrap;
}
.input_box.error .inputs:after{
  content: ' ';
  width: 21px;
  height: 21px;
  background: url(../images/error.png) no-repeat;
  background-size: 100%;
  z-index: 2;
  position: absolute;
  right: 11px;
  top: 9px;
}
.input_box {
	width: 100%;
	padding: 0 5px 13px 5px;
}
.input_box.error input{
  border: 1px solid #FF7C7C;
  padding-right: 40px;
}
button {
	background-color: #4CA247;
	height: 40px;
	border: none;
	border-radius: 5px;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover{
  background-color: #6FBD6A;
}
p{
  margin: 0;
}
.wrapper {
	width: 100%;
	height: 100vh;
	background-color: #F4F6FC;
}
header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  max-width: 1110px;
}
.close{
  background-color: #92CC8F;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
img{
  width: 100%;
}
.close img{
  max-width: 10px;
}
.inputs .error_msg {
	color: #FF7C7C !important;
	font-size: 10px;
	width: 100%;
  display: none;
}
.error .inputs .error_msg{
  display: block;
}
.tab_content a {
	color: #4ca247;
}
.buttonbox button {
	font-size: 15px;
}
.half{
  width: 50%;
}
/* ********************** */
header .container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.sign_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign_container .container {
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: #fff;
  position: relative;
  height: 600px;
}
.sign_container .right, .sign_container .left{
	width: 50%;
}
.sign_container .left{
  padding: 0 45px;
}
.sign_container img {
	width: 100%;
}
.sign_up, .recovery {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  padding: 80px 0;
}
.sign_container h1 {
	font-size: 28px;
	font-weight: normal;
	width: 100%;
	margin: 0;
	max-width: 277px;
  padding-bottom: 10px;
}
.signup_tab {
	width: 100%;
	max-width: 277px;
}
.tab_head {
	width: 100%;
  padding-bottom: 10px;
}
.tab_head ul{
  display: flex;
  flex-wrap: wrap;
}
.tab_head li{
  width: 50%;
}
.tab_head li a {
	color: #7B7B7B;
	border-bottom: 2px solid #efefef;
	font-size: 14px;
	padding: 5px 0;
	width: 100%;
	display: block;
}
.tab_head li.active a{
  color: #000;
  border-bottom: 2px solid #4CA247;
}
.pr_info {
	padding-right: 5px;
}
.ac_details {
	padding-left: 5px;
}
.input_box label {
	color: #8C98A9;
	font-size: 12px;
	padding-bottom: 5px;
  display: flex;
}
.field{
  padding: 0 5px;
  width: 33.33%;
}
.date .label{
  padding:0 5px;
}
.account_details, .personal_info{
  display: none;
}
.account_details.active, .personal_info.active{
  display: block;
}
.personal_info p, .account_details p {
	color: #8C98A9;
	width: 100%;
	text-align: center;
  padding-top: 5px;
}
.personal_info p a {
	color: #4ca247;
}
.input_box .inputs{
  position: relative;
}
.input_box.new_pwd .inputs:before, .input_box.confirm_pwd .inputs:before, .new_pwd .input_box .inputs:before {
  content: ' ';
	background: url(../images/eye.png) no-repeat;
  width: 16px;
  height: 14px;
  position: absolute;
  right: 11px;
  top: 14px;
  cursor: pointer;
  z-index: 1;
}
.input_box.new_pwd .inputs input, .input_box.confirm_pwd .inputs input{
  padding-right: 35px;
}
/* Home */
.home .container{
	width:1110px;
}

.home .background-banner{
	background-image: url(../images/bkg_one.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.background-banner .form-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: calc(50% - 555px);
    background-color: #fff;
    padding: 60px 40px;
    max-width: 1110px;
}
.box-right {
    width: 50%;
    float: left;
}
.box-left {
    width: 50%;
    float: left;
}
.home .logo {
	max-width: 98px;
}
.home .container {
	width: 1110px;
	justify-content: flex-start;
}
.home header {
	position: absolute;
	z-index: 1;
}
.background-banner h2 {
	font-size: 60px;
	font-weight: bold;
	line-height: 80px;
	margin: 0;
}
.background-banner p {
	font-size: 18px;
}
.form-container form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.form-container .input_box, .form-container .buttonbox {
	width: 25%;
	padding: 0 10px;
}
.form-container .buttonbox {
	padding-top: 24px;
}
.bsc_info, .prdetail_info{
  display: none;
}
.bsc_info.open, .prdetail_info.open{
  display: block;
}
.form-container.prdetail_info .input_box, .form-container.prdetail_info .buttonbox {
	width: 33.33%;
}
.form-container h3 {
	color: #4CA247;
	font-size: 30px;
	margin: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
}
.form-container.prdetail_info form{
  justify-content: center;
}
.form-container.prdetail_info .input_box {
	padding-bottom: 25px;
}
.form-container.prdetail_info .buttonbox {
	padding-top: 0;
  max-width: 216px;
}
.form-container.prdetail_info.open {
	padding: 40px 160px;
}
/* Home Ends*/
/* Plans */
.plan-overview .wrapper {
	height: auto;
}
header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
header .container{
  justify-content: space-between;
  padding: 38px 0;
}
.content_section{
    padding-top: 40px;
    padding-bottom:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.customer-details {
    background-color: #fff;
    border: 1px solid #4CA247;
    padding: 32px 55px;
}
.customer-details  ul {
    display: flex;
}
.customer-details  ul li{
 list-style-type: none;
 width: 100%;
}
.customer-details p{
font-weight: 600;
margin-top: 15px;
}
.customer-details label {
    font-size: 13px;
}
body.plan-overview h1{
    color: #4CA247;
}
.topic-name {
    padding: 40px 0;
}
.overview-list {
    background-color: #A3CC3933;
    padding: 23px 55px;
    margin-bottom: 15px;
}
.overview-list ul {
    display: flex;
}
.overview-list ul li {
    width: 100%;
    padding-left: 5px;
}
.overview-list .price {
    text-align: right;
}
.plan-overview ul li span {
    color: #4CA247;
    font-size: 14px;
}
.plan-overview .plan {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.overview-list .plan a {
    color: #4CA247;
    padding: 7px 30px;
    border: 1px solid #4CA247;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
}
.price-details {
    padding: 0 55px 20px 55px;
}
.plan-overview ul {
    display: flex;
}
.plan-overview ul li {
    width: 100%;
    padding-left: 5px;
}
.plan-overview .warning-message {
    background-color: #FF7C7C1A;
    border: 1px solid #FF7C7C;
    padding: 12px 17px;
    max-width: 450px;
    display: flex;
}
.plan-overview .warning-img {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.plan-overview .warning-message p {
    font-size: 14px;
}
.plan-overview table tr th, td {
  padding: 5px;
  text-align: left;
  color: #2E384D;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%
}
.plan-overview .cost {
    text-align: right;
}
.plan-overview table {
    margin-top: 25px;
    position: relative;
}
.plan-overview table::before {
    position: absolute;
    width: 108%;
    content: '';
    height: 1px;
    background-color: #4CA247;
    left: 0;
    top: -12px;
}
.plan-overview .total-cost {
    background-color: #A3CC3933;
    padding: 15px 0;
}
.plan-overview .semi-cost {
    background-color: #A3CC3933;
    border: 1px solid #4CA247;
    margin: 0 55px;
}
.plan-overview .semi-cost ul {
    display: flex;
    padding: 16px 24px 16px 24px;
}
.plan-overview .semi-cost ul li {
    width: 100%;
}
.plan-overview .text-right{
    text-align: right;
}
.plan-overview .semi-cost table::before {
    position: absolute;
    width: 100%;
    content: '';
    height: 1px;
    background-color: #4CA247;
    left: 0;
    top: 0px;
}
.plan-overview .plan-overview table.semicost-list{
    padding: 16px 46px 20px 24px;
    display: block;
}
.box-shadow {
    background-color: #ffffff;
    padding-bottom: 100px;
    -webkit-box-shadow: 17px 7px 68px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 7px 68px -24px rgba(0,0,0,0.75);
    box-shadow: 17px 7px 68px -24px rgba(0,0,0,0.75);
}

.plan-overview .semi-cost table {
    margin-top: 0px;
    padding: 16px 46px 20px 24px;
    display: block;
}
.plan-overview .next {
    padding: 0 55px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.plan-overview .next a {
    width: 216px;
    height: 46px;
    color: #fff;
    background-color: #4CA247;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-right: 5px;
}
.plan-overview .semi-total {
    padding: 16px 46px 20px 24px;
    display: block;
    background-color: #4CA24733;
}
.plan-overview .semi-total .total-cost {
    background-color: transparent;
}
.plan-overview .card-details {
    font-size: 14px;
}
.head-semi-cost{
    padding: 40px 55px;
    text-align: right;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #FF7C7C;
    padding-right: calc(1.6em + 0.75rem);
    background: url(../images/error.png) no-repeat;
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.1875rem) center;
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}
.invalid-feedback strong{
    color :#FF7C7C;
    font-weight: normal;
}
.parsley-required{
    color:red !important;
}

.parsley-type{
    color:red !important;
}
.parsley-equalto {
    color:red !important;
}
.parsley-minlength {
    color:red !important;
}

.parsley-checkgroupcode {
    color:red !important;
}
/* Plans Ends */
/* Plans Ends */
/*Recovery Account*/
.recovery .buttonbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.recovery .buttonbox button{
  width: calc(50% - 5px);
}
.recovery .buttonbox button.cancel {
  border: 1px solid #4CA247;
  background-color: #fff;
  color: #4CA247;
}
.tab_content p.recovery_msg{
  text-align: left;
  padding: 0 0 20px 0;
}
.recovery {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footer-copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #4ca247;
  color: #fff;
}
.pf_container {
  border: 1px solid #efefef;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.pf_pic{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}
.pf_pic img{
  width: 100%;
}
.pf_name {
  padding-left: 15px;
}
.recovery .buttonbox button.resetbtn, .recovery.new_pwd .buttonbox button {
  width: 100%;
  /* padding-right: 0; */
  /* padding-left: 0; */
}
.reset.recovery .buttonbox, .recovery.otp .buttonbox{
  flex-direction: column;
}
.reset.recovery .buttonbox a, .recovery.otp .buttonbox a{
  text-align: center;
  padding-top: 10px;
  color: #8C98A9;
}
.otp .inputs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.otp_space {
  padding: 0 2px;
}
.quater{
  width: 25%;
}
.pf_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.log{
  padding-left: 10px;
}
.mini_prof {
  width: 250px;
  position: absolute;
  box-shadow: 0px 2px 5px #888;
  right: 0;
  top: 69px;
  display: none;
}
.mini_prof:before {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #4ca247;
  position: absolute;
  top: -10px;
  right: 15px;

}
.mini_prof.active{
  display: block;
}
.ab_customer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4ca247;
  padding: 20px;
}
.mini_prof .pf_pic {
  width: 100px;
  height: 100px;
}
.cr_links {
  padding: 20px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  width: 100%;
}
.cr_links a {
  padding: 10px;
  border: 1px solid #dfd9d9;
  border-radius: 5px;
  min-width: 82px;
  display: flex;
  justify-content: center;
}
.mini_prof .pf_name {
  color: #fff;
  font-size: 18px;
}
.registered_date {
  color: #fff;
}
.logout {
  position: relative;
}
/* Health Qusetions */
.question p {
	width: calc(100% - 120px);
	font-weight: 600;
	font-size: 14px;
	color: #555555;
}
.answer-button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 120px;
}
.ans_list {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
}
.questionnaire ul li {
    list-style-type: upper-alpha;
    width: 100%;
    font-size: 14px;
    color: #555555;
    padding-bottom: 15px;
}
.answer-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.question {
	display: flex;
}
.question label{
  font-weight: 600;
    font-size: 14px;
    color: #555555;
}
.Yes {
    margin-right: 15px;
}

.container.detail-table {
   padding: 0 55px;
   width: 100%;
    display: flex;
    margin-bottom: 60px;
}

.container.detail-table table, th, td {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #4CA247;
}
.container.detail-table table tr th, td {
  padding: 15px;
  text-align: center;
  color: #2E384D;
  font-size: 14px;
  border-collapse: collapse;
    width: 33%;
}
.container.detail-table th{
    color: #000000 !important;
        background-color: #d4e9d3;
}
.additinal-notes .message {
    margin: 0 55px;
}
.additinal-notes .message label {
    display: block;
    color: #909090;
    font-size: 16px;
    margin-bottom: 10px;
}
.additinal-notes .message textarea.input-form {
    width: 100%;
    height: 92px;
        border: 1px solid #4CA247;
}
.container.next-save .button {
    margin: 0 55px;
    display: flex;
    justify-content: flex-end;
}

a.save{
 padding: 12px 76px;
    border: 1px solid #4CA247;
    border-radius: 5px;
    color:  #4CA247;
    font-size: 16px;
    margin-right: 15px;
}
a.next {
    background-color: #4CA247;
    color: #fff;
    padding: 12px 76px;
    border-radius: 5px;
    font-size: 16px;
}
.next-save {
    margin-top: 30px;
}
.questionnaire.price-details {
	padding: 20px 55px 20px 80px;
}
.information .personal {
    width: 100%;
}
.information .address {
    width: 100%;
}
.information-details {
    display: flex;
}
.information-details .personal {
    padding-right: 15px;
}
.information-details .address {
    padding-left: : 15px;
}
.info-title {
    display: flex;
    align-items: center;
    background-color: #edf5d7;
    padding: 23px 40px;
}
.info-title h4 {
    width: 100%;
}
.review .field-area {
    padding: 56px 40px 10px 40px;
    background-color: #fff;
        -webkit-box-shadow: 17px 7px 68px -24px rgba(0,0,0,0.14);
    -moz-box-shadow: 17px 7px 68px -24px rgba(0,0,0,0.14);
    box-shadow: 17px 7px 68px -24px rgba(0,0,0,0.14);
}
label {
    color: #8C98A9;
    font-size: 16px;
}
 .review .field-section {
    padding-bottom: 31px;
}
.review .field-section ul {
    display: flex;
    width: 100%;
}
.review .field-section p {
    margin-top: 15px;
        font-weight: 600;
            min-height: 46px;
}
.plan-information{
    margin-top: 21px;
}
.review .price-details {
    padding: 50px 55px;
    background-color: #fff;
}
.detail-table {
   width: 100%;
    display: flex;
    margin-bottom: 60px;
}
.additinal-notes .message textarea.input-form {
    width: 100%;
    height: 92px;
        border: 1px solid #4CA247;
        border-radius: 4px;
}
.emergency-contact {
    margin-top: 20px;
}
.form-container .dep_info h2 {
	font-size: 18px;
	padding-bottom: 20px;
	line-height: normal;
	font-weight: normal;
}
.btn_container {
	display: flex;
	justify-content: flex-end;
}
.tier_scroller {
	max-height: 500px;
	overflow-y: scroll;
}
.dep_info {
	border: 1px solid #efefef;
	margin-bottom: 15px;
	border-radius: 10px;
	padding: 20px;
  position: relative;
}
.tier_list h3 {
	position: relative;
	text-align: left;
}
.tier_list h3 a {
	font-weight: normal;
	font-size: 16px;
	border: 1px solid #4ca247;
	color: #51a247;
	border-radius: 5px;
	background-color: #efefef;
	padding: 5px 10px;
	position: absolute;
	right: 0;
}
.tier_list h3 a:hover{
  background-color: #51a247;
  color: #fff;
}
.dep_info a.close{
  color: #51a247;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #efefef;
  border: 1px solid #51a247;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.dep_info a.close:hover{
  background-color: #51a247;
  color: #fff;
}
